#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    draw_borders: false,
    browser_column_widths: [0, 50, 50],
    background_color: None,
    text_color: None,
	borders_style: (fg: "black"),
	highlight_border_style: (fg: "black"),
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_metadata_group_style: (modifiers: "Bold"),
    highlighted_item_style: (fg: "blue", modifiers: "Bold|Italic"),
    current_item_style: (fg: "#cc7e8b", bg: "#ffffff", modifiers: "Reversed"),
    symbols: (
        song: " ",
        dir: " ",
        playlist: " ",
        marker: " ",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (),
        warn: (),
        error: (),
        debug: (),
        trace: (),
    ),
    progress_bar: (
        symbols: ["ᓚ", "ᘏ", "ᗢ", "𓂃", "ᗢ"],
		elapsed_style: (fg: "light_red"),
        thumb_style: (fg: "light_red"),
        track_style: (fg: "black"),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "┃", "", ""],
        track_style: (fg: "black", modifiers: "Dim"),
        ends_style: (),
        thumb_style: (fg: "magenta"),
    ),
    tab_bar: (
        active_style: (),
        inactive_style: (),
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    song_table_format: [
        (
            prop: (
				kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            label_prop: (kind: Text("Title")),
            width: "50%",
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            label_prop: (kind: Text("AlbumArtist")),
            width: "50%",
			alignment: Right,
        ),
	],
	cava: (
	    bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
	    inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],
	    inverted_bar_as_mask: false,
	    bar_width: 1,
	    bar_spacing: 1,
	    orientation: Horizontal,
		
	    bar_color: Gradient({
	          0: "#cc7e8b",
	         50: "#c9afba",
	        100: "#d4bdc2",
	    })
	),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "1",
                pane: Pane(Empty()),
                borders: "TOP | LEFT | RIGHT",
                border_symbols: Rounded,
                border_title: [(kind: Text(" 音楽を聴く"), style: (fg: "light_red"))],
                border_title_position: Top,
                border_title_alignment: Left,
            ),
            (
                size: "100%",
                pane: Component("albumcava"),
                borders: "LEFT | RIGHT",
            ),
            (
                size: "4",
                pane: Component("info"),
                borders: "LEFT | RIGHT",
            ),
			(
				size: "9",
				pane: Pane(TabContent),
				borders: "LEFT | RIGHT",
			),
		    (
                size: "1",			
				pane: Pane(Empty()),
				borders: "LEFT | RIGHT | BOTTOM",
		        border_symbols: Rounded,
		        border_title: [
					(kind: Text(" ")),
		            (kind: Property(Status(RandomV2(
		                on_label: "ৎ୭ ",
		                off_label: "ৎ୭ ",
		                on_style: (fg: "magenta", modifiers: "Bold"),
		                off_style: (fg: "magenta"),
		            )))),
		            (kind: Property(Status(StateV2()))),
		            (kind: Property(Status(ConsumeV2(
		                on_label: " ৎ୭",
		                off_label: " ৎ୭",
		                oneshot_label: " ৎ୭",
		                on_style: (fg: "light_red", modifiers: "Bold"),
		                off_style: (fg: "light_red"),
		                oneshot_style: (fg: "light_red", modifiers: "Dim"),
		            )))),
					(kind: Text(" ")),
				],
		        border_title_position: Bottom,
		        border_title_alignment: Center,
		    ),
        ],
    ),
	components: {
		"albumcava": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "50%",
                    pane: Pane(AlbumArt),
                ),
				(
					size: "2%",
					pane: Pane(Empty()),
				),
                (
                    size: "50%",
                    pane: Pane(Cava),
                ),
            ]
        ),
		"info": Split(
			direction: Vertical,
			panes: [
                (
                    size: "1",
                    pane: Pane(Property(content: [
						(kind: Text(" ")),
                        (kind: Property(Song(Title)), style: (fg: "blue", modifiers: "Bold|Italic"),
                            default: (kind: Text("Analog girl"), style: (fg: "blue", modifiers: "Italic"))),
                    ])),
                ),
                (
                    size: "1",
                    pane: Pane(Property(content: [
						(kind: Text("  ")),
                        (kind: Property(Song(Artist)), style: (fg: "light_red", modifiers: "Bold"),
                            default: (kind: Text("in"), style: (fg: "light_red", modifiers: "Italic"))),
                    ])),
                ),
                (
                    size: "1",
                    pane: Pane(Property(content: [
						(kind: Text("   ")),
                        (kind: Property(Song(Album)),
                            default: (kind: Text("a digital world"), style: (modifiers: "Bold|Italic"))),
                    ])),
                ),
                (
                    size: "1",
                    pane: Pane(ProgressBar),
                ),
			]
		)
	},
)
